<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallup.net/wp-content/uploads/2016/01/211730-space-Earth.jpg);">
  <div class="container">
    <h1>Astroapp</h1>
    <p>Connect with the space!</p>
    <div>
        <%= form_tag root_path, method: :get do %>
         <%= text_field_tag :query,
           params[:query],
           class: "form-control",
           placeholder: "Search for astronaut"
         %>
         <div class="position-relative">
          <%= submit_tag "Search", class: "btn btn-primary position-absolute bottom-0 end-0" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div>
<%= link_to "create a new astronaut", new_astronaut_path, class:"btn btn-primary" %>
</div>

<div class="container grid">
  <h2>Choose your favorite Astronaut</h2>
  <div class="row">
    <% @astronauts.each do |astronaut| %>
      <div class="card-product col">
        <% if astronaut.photo.attached?  %>
          <%= cl_image_tag astronaut.photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>
        <% else  %>
          <img width="400" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OrTvDaHqHaLr8GCNb25AngHaE8%26pid%3DApi&f=1" alt="">
        <% end  %>
        <div class="card-product-infos">
          <h2 class="astro-name"><%= link_to astronaut.name, astronaut_path(astronaut) %></h2>
          <p><strong><%= astronaut.nationality %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
<div>

/* Card 1 */
<div class="cards">
    <% @astronauts.each do |astronaut| %>
      <% if astronaut.photo.attached?  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path astronaut.photo.key, height: 330, crop: :fill, gravity: :face %>')"></div>
      <% else  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OrTvDaHqHaLr8GCNb25AngHaE8%26pid%3DApi&f=1')">Cool</div>
      <% end  %>
  <% end  %>
</div>
