<div class="banner row" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallup.net/wp-content/uploads/2016/01/211730-space-Earth.jpg);">
  <div class="container row">
    <div class="col-6">
    <h1>Astroapp</h1>
    <p>Connect with the space!</p>
       <div>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for astronaut"
            %>
          <div class="position-relative">
            <%= submit_tag "Search", class: "btn btn-ghost position-absolute bottom-0 end-0" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <h1 class="text-center">Astronauts</h1>
</div>




<div class="cards container grid">
    <% @astronauts.each do |astronaut| %>
        <% if astronaut.photo.attached?  %>
          <%= link_to astronaut_path(astronaut) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path astronaut.photo.key, height: 330, crop: :fill, gravity: :face %>')"></div>
          <% end  %>
        <% else  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OrTvDaHqHaLr8GCNb25AngHaE8%26pid%3DApi&f=1')">Cool</div>
        <% end  %>
    <% end  %>
</div>
