<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallup.net/wp-content/uploads/2016/01/211730-space-Earth.jpg);">
  <div class="container">
    <h1>Astroapp</h1>
    <p>Connect with the space!</p>
    <div>
        <%= form_tag root_path, method: :get do %>
         <%= text_field_tag :query,
           params[:query],
           class: "form-control",
           placeholder: "Search for astronaut"
         %>
         <div class="position-relative">
          <%= submit_tag "Search", class: "btn btn-primary position-absolute bottom-0 end-0" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h2>Choose your favorite Astronaut</h2>
  <div class="row">
    <% @astronauts.each do |astronaut| %>
      <div class="card-product col">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2 class="astro-name"><%= link_to astronaut.name, astronaut_path(astronaut) %></h2>
          <p><strong><%= astronaut.nationality %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
