<h1>Create a new astronaut </h1>

<%= simple_form_for [@astronaut] do |f| %>
   <%= f.input :name %>
   <%= f.input :bio %>
   <%= f.input :nationality %>
   <%= f.input :time_slot %>
  <%= f.submit "Submit new astronaut", class: "btn btn-primary" %>
<% end %>
