<div class="container d-flex form row">
  <div class="col-6">
    <h2>Join us and add a new astronaut!</h2>
    <p>Help us to create new experiences of exploring the outer space by expanding our astro family!</p>
    <img width="300" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F_kVBIKsx0ZqQ%2FS_hLb0xiZYI%2FAAAAAAAAF44%2FU06csaqii-s%2Fs400%2FMillie_Hughes-Fulford.jpg&f=1&nofb=1" alt="">
  </div>

  <div class="col-6">
    <h3>Let's Start!</h3>
      <%= simple_form_for [@astronaut] do |f| %>
        <%= f.input :name %>
        <%= f.input :bio %>
        <%= f.input :nationality %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Launch new astronaut", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
