<div class="container d-flex justify-content-center">
  <div class="card row flex-row mt-3" style="width: 50rem;">
    <% if @astronaut.photo.attached?  %>
          <%= cl_image_tag @astronaut.photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>
        <% else  %>
          <img width="400" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OrTvDaHqHaLr8GCNb25AngHaE8%26pid%3DApi&f=1" alt="">
        <% end  %>
      <div class="col-lg-8 card-body">
        <h2 class="card-text"><%= @astronaut.name %></h2>
        <p class="card-text"><%= @astronaut.bio %></p>
      </div>
  <div class="container position-relative">
  <%= simple_form_for [@astronaut, @booking] do |f| %>
      <%= f.input :date, class:""%>
      <%= f.submit "Meet Me!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="buttons">
    <%= link_to 'back', root_path, class:"btn btn-primary" %>
  </div>
</div>

<div>
<%= link_to 'Delete', astronaut_path, class:"btn btn-primary", method: :delete %>
</div>
